


.menu__about {
    width: 100%;
    height: 85px;
    background: url(../images/bg-body.jpg) no-repeat  0 0;
    color: #fff;
    
    & h2 {
        float: left;
        font-weight: bold;
        font-size: $size10px +15;
        margin: 27px 40px; 
    }
   
    & p {
        float: right;
        font-style: italic;
        font-size: $size10px +10;
        margin: 15px 40px; 
    }
}

.conteiner__content {
    background: #fff;
    display:flex;
    justify-content: space-between;  
}

.content__about {
    width: 75%;
    margin: 40px;
    font-size: $size10px +2;
    
    & p {
        padding-bottom: 40px;
    }
}

.block__about-aside {
    width: 25%;
    background: url(../images/bg-asid.gif) repeat-y 0 0;
    padding-top: 40px;
    
    & h2 {
        background: linear-gradient(to left, #fff, #cfcfcf);
        padding: 5px 20px;
        font-size: $size10px +5;
        font-weight: bold;
    }
    
    & ul {
        margin-left: 38px;
        padding: 20px 0;
    }
    
    & img {
        margin: 35px 22px;
    }
}

