
@media (max-width:992px) {
    
    .navbar-default .navbar-nav li {    
    margin-right: 3px;
}

.navbar-nav {
    margin-right: -15px;   
}

.container-fluid {    
    margin-right: 10px;    
}

.container__title {
    zoom: 0.8;
}

.articles__blocks {
    float: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    border-bottom: 1px dotted #838383;
}

.articles__blocks p {   
    padding-right: 0;
}

.articles__block {
    background: #fff;
    padding: 20px 0 20px;    
}

.two ul {
    list-style-image: url(../images/arrow-ul.png);    
    margin: 0 auto;    
    padding-left: 1px;
    width: 35%;
}

.right,
.center {
    margin-right: 35px;
}

.conteiner__content {   

    & .content__about {
        width: 70%;
    }
    
    & .block__about-aside {
          width: 30%;
        & ul {
            width: 50%;
            margin-right: 60px;
        }


    }
}
}

@media (max-width:959px) {
    
  .headhesive {    
    left: 0;
    margin-left: 0;    
}
 
.contackt__form {
    
    & form {
        width: 60%;
    }
   
      
}
}

@media (max-width:768px) {
    
    .navbar-default {
    background: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}
    
 .navbar-default  .navbar-nav li {
    float: none; 
    margin-right: 10px;
    margin-left: 15px;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin: 0;
}


.container-fluid {
    padding: 0;
    margin-right: auto;
    margin-left: auto; 
}

.slider__flexsliders {
    display: none;
}

.slider__block {        
    height: auto;
    padding: 25px 0 25px;    
}

.flexslider {
    display: none;
}

.container__title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.footer__bottoms {
    float: none;      
}

.copyright {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.socials {
    width: 40%;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
   
}

.logo-min {
    width: 60%;
    margin: 0 auto;  
    padding-left: 33%;    
    margin-top: 29px;    
}

.menu__blurbs {    
    height: auto;
}

.menu__blurbs li {    
    width: 50%;    
}

.contact {
    margin-left: 20%;
}

    
.block__about,
.block__service,
.block__portfolio,
.block__cotact{
    
    .portfolio-optionss { 
        float: none;
        margin: 0 auto;
    }
    
    
    .menu__about {
    text-align: center;    
    
    & h2{
        float: none;
        margin: 0;
        padding: 10px;
    }
   
    & p{
        float: none;
        margin: 0;
        padding-bottom: 10px;
    }
    }

    .pagination {    
    margin-top: -20px;   
}
    
}

.conteiner__content {   

    & .content__about {
        width: 65%;
    }
    
    & .block__about-aside {
          width: 35%;   
    }
}

.cervices__articl {   
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    
    & .articl__top {
        padding: 20px 70px;
    }
    
    & .articl__bottuom {
        padding: 20px 70px;
    }
    
    & .articl__footer {
        padding: 20px 50px;
    }
    
}

.contackt__form {
    
    margin: 0 auto;
    
    & form {
        width: 100%;
        float: none;
        margin-bottom: 0;
        
        .submit {
            margin: 10px;
           
        }
    }
    
    & .contact__menu { 
        padding-top: 40px;
        width: 100%;
        background: #fff;
        float: none;
        background: url(../images/bg-started1.gif) repeat-x 0 0;
        
                
        & .contact__asite {
            width: 100%;
           
                
            & h2 {           
            padding: 5px 40px;            
            }
        
        & ul {
            padding: 10px 40px;
        }
            
            & .contact_sprite {
                padding-bottom: 20px;
                padding-top: 26px;
            }
        }
    }
      
}
}



@media (max-width:600px) {
     
   
  .mainheader h1 {    
    margin: 20px 0 0 30px;
}

.right {
    width: 25%;
}

.center {
    width: 45%;
    margin-right: 80px;
}

.left {
    width: 45%;
    margin-top: 10px;
    margin-left: 32%;
}

.contact {
    margin-left: 16%;
}

.conteiner__content {   

    & .content__about {
        width: 60%;
    }
    
    & .block__about-aside {
          width: 40%;   
    }
}

}




@media (max-width:480px) {

.menu__blurbs ul {
    margin-top: -20px;
    margin-left: -30px;
}

.logo-min {  
    padding-left: 40%;   
}

.socials {   
    margin-right: 40%;
}

.contact {
    margin-left: 10%;
}

.block__about {
    
    
    .menu__about {
     
    
    & h2{
        font-size: $size10px +10;
    }
   
    & p{
         font-size: $size10px +5;
    }
    }

}

.conteiner__content { 
    display: block;
    margin: 0 auto;
    text-align: center;

    & .content__about {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    
    & .block__about-aside {
          width: 85%;
          padding-top: 0;

          & img {
            margin-left: 80px;
          }
    }
}


}
