/*-- ARTICLES BEGIN --*/

.articles__block {
    background: #fff;
    padding: 40px 0 40px 50px;    
}

.articles__blocks {
    float: left;
    width: 33.33%;
}

.articles__blocks p {
    margin: 22px 0;
    padding-right: 40px;
}

.articles__blocks h2 {
    font-size: 25px;
    color: #585858;
    margin-bottom: 24px;
}

.articles__blocks > a {
    background: linear-gradient(to top, #e4e4e4, #fff);
    font-family: nevis;
    font-weight: bold;
    text-transform: uppercase;    
    color: #7e7e7e;
    padding: 8px 17px 8px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.articles__blocks > a:hover {
    background: linear-gradient(to top, #fff, #e4e4e4);
}

.two ul {
    list-style-image: url(../images/arrow-ul.png);
    margin-left: -27px;
    margin-right: 35px;
}

.two li {
    border-bottom: 1px dotted #838383;
    padding: 5px;
    
}

.two li:last-child {
    border-bottom: none;    
}

.two a {
    color: #0f4db6;
}

/*-- ARTICLES END --*/


