/*-- BLURBS BEGIN --*/

.menu__blurbs {
    background: #ededed;    
    padding: 33px 0 22px 50px;
    border-bottom: 1px solid #ccc;
    height: 125px;
}

.menu__blurbs ul {
    margin-top: -12px;
}

.menu__blurbs li {
    float: left;
    padding: 20px 0 12px 90px;
    width: 33.33%;    
    margin-right: 10px;
}

.menu__blurbs li:first-child {
    margin-left: -40px;     
}

.menu__blurbs h3 {
    font-size: 15px;
    color: #575757;   
}



.many {
    background: url(../images/blumber/many.png) no-repeat 0 50%;
}

.clock {
    background: url(../images/blumber/clock.png) no-repeat 0 50%;
}

.contact {
    background: url(../images/blumber/fone.png) no-repeat 0 50%;
}

/*-- BLURBS END --*/
