
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
h3,
p {
   margin: 0;
   padding: 0;
}

body {
    background: url(../images/bg-body.png) no-repeat 50% 0 #0e0e0e;
    font: 12px/1.67 Arial, Helvetica, sans-serif;
    padding: 40px 0;
}

.wrapper {
    width: 100%;
    max-width: 960px; 
    margin: 0 auto;
}