.block__cotact {
    background: #fff;  
}

.contackt__form {
    
    & form {
        width: 65%;
        float: left;
        margin: 15px 40px; 
        font-weight: bold;
        color: #8b8b8b;
        
        p {
            padding: 25px 0 13px;
        }
        
        .submit {
            margin: 20px 0 50px;
        }
        
        & input,
          textarea{
            background: linear-gradient(to top, #fff, #efefef);
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            width: 70%;
            height: 33px;            
        }
        
        & textarea {
            height: 163px;
        }
        
        & :last-child {
            background: linear-gradient(to top, #efefef, #fff);
            width: 98px;
            height: 27px;
            text-transform: uppercase;
        }
        
        & :last-child:hover {
             border: 2px solid #c9c9c9;
        }
                
        
    }
    
    & aside {
        float: right;
        background: url(../images/bg-asid.gif) repeat-y 0 0;
        height: 100%
    }
    
    & .contact__menu {
        width: 25%;
        padding-top: 40px;
       
        
        & h2 {
        background: linear-gradient(to left, #fff, #cfcfcf);
        padding: 5px 20px;
        font-size: $size10px +5;
        font-weight: bold;
    }
        
        & ul {
            padding: 10px 20px;
           
            
        }
        
        & li {
            border: none;
            list-style-type: none;           
        }
        
        & a {
            color: $grey;
        }
        
        
    }
}

.contact_sprite {    
    width: 100%;
    padding: 20px;
    padding-bottom: 264px;
    
    .layer-44,
    .layer-45,
    .layer-46 { 
        display: inline-block;
        background: url(../images/contacts/cont.png) no-repeat; 
        overflow: hidden; 
        text-indent: -9999px; 
        text-align: left;
        margin-left: 10px;
    }
    
 
    .layer-44 { background-position: -5px -0px; width: 35px; height: 38px; }
    .layer-45 { background-position: -5px -43px; width: 35px; height: 38px; }
    .layer-46 { background-position: -5px -86px; width: 35px; height: 38px; }
    
}

