/*-- FOOTER BEGIN --*/

footer {
    background: url(../images/footer-border-bg.gif) repeat-x #ededed;
    border-radius: 0 0 6px 6px;
}

.footer__top {
    padding: 20px 0 10px 41px;
}

.footer__tops {    
    float: left;
}

.right ul {
    margin-top: 20px;
    margin-left: -40px;
}

.right a {
    color: #4f4f4f;
}

.right {
    width: 20%;
    margin-right: 40px;
}

.center {
    width: 30%;
    margin-right: 80px;    
}

.center p {
    margin-top: 20px;
}

.left {
    width: 35%;
}

.left p {
    margin-top: 10px;
}

.footer__bottom {
    background: url(../images/footer-border-bg.gif) repeat-x #ededed;
    border-radius: 0 0 6px 6px;
    }
    
    
.footer__bottoms {
        float: left;
}
    
.footer__bottoms li {
    float: left;
    padding: 22px 8px;
} 

.copyright {
    width: 60%;
    padding: 25px 0 25px 45px;
}

.socials {
    width: 20%;
    margin: 0;
}

.logo-min {
    width: 20%;
    padding: 22px 40px 0 0;
}

/*-- FOOTER END --*/

