/*-- HEADER BEGIN --*/

.mainheader {
    position: relative;
    background: #fff;
    height: 97px;
    border-radius: 7px 7px 0 0;    
}

.mainheader h1 {
    position: absolute;
    margin: 30px 0 0 40px;    
}

.headhesive {
    position: absolute;
    width: 100%;
    max-width: 960px;  
    left: 50%;
    margin-left: -480px;    
    z-index: 110;
    top: -57px;    
    transform: translateY(100%);
}

.headhesive--stick {  
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -480px;    
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s ease;
    transform: translateY(0);
}




.tel {
    background: url(../images/bg-tel.png) no-repeat 0 0;
    padding: 3px 27px 3px 90px;
    font-size: 18px;
    font-weight: bold;
    color: #c0c0c0;
    float: right;
}

.navbar-nav {    
    margin-right: -28px;
    margin-top: 7px;     
}

.navbar-default {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-default  .navbar-nav>li>a {   
    color: #808080;
    text-transform: uppercase;
    font-weight: bold;  
    padding: 3px 15px;
    padding-bottom: 1px;
}

.navbar-default  .navbar-nav>li>a:hover {
    color: #fff;     
    padding-bottom: 1px;
}

.navbar {
    float: right;
    clear: right;
}

.navbar-default  .navbar-nav li {
    float: right;
    margin: 10px 15px 0 5px;    
}

.navbar-default  .navbar-nav li a:hover {
    background: url(../images/bg-li-current.gif) repeat-x 0 0;    
    color: #fff;    
    border-radius: 4px;  
}

.navbar-default  .navbar-nav .mainheader__nav a {
    background: url(../images/bg-li-current.gif) repeat-x 0 0;    
    color: #fff;
    border: 1px solid #00224b;
    border-radius: 4px;    
}

/*-- HEADER END --*/