.block__portfolio {
    background: #fff; 
    
    & .cervices__articl {
        margin-left: 30px;
         & p {
        padding-bottom: 50px;          
    }
    }
         
}




.portfolio-optionss {
    
    float: right;
    margin: 25px 35px 0;
           
    & li {
        float: left;
        padding-left: 28px;
    }
    
    & .actives {
        & a{
        color: #fff;
        }
    }
    
    & a{
        color:$blue;
        font-size: $size10px +3;
    }
       
}


.pagination {
    background: url(../images/bg-started1.gif) repeat-x 0 0;
    width: 100%;
    margin-top: -60px;
    padding-top: 20px;
    
    & li {
        float: left;
        font-size: $size10px +3;
        padding: 6px;
        color: $blues;
    }
}



/* ---- .item ---- */



