 .block__service {
    background: #fff;
}

.cervices__articl {   
    margin: 30px 15px;
    
    & h2 {
        font-size: $size10px +15;
        color: #585858;
        margin-bottom: 25px;
        font-weight: 1000;
        
        & small {
            font-size: $size10px +5;
        }
    }
    
    & .padding_right {        
            padding-right: 20px;            
        }
   
    & img {
        margin-bottom: 20px;
    }  
       

    & .lefts {
        float: left;
        text-transform: uppercase;
        background: linear-gradient(to top, #e4e4e4, #fff);        
        font-weight: bold;         
        color: #7e7e7e;  
        margin-top: 18px;
        font-size: $size10px +2; 
        margin-bottom: 15px;
    }
    
    & .rights {
        float: right;
        background: linear-gradient(to top, #e4e4e4, #fff);        
        font-weight: bold;
        text-transform: uppercase;        
        margin-top: 18px;        
        font-size: $size10px +2; 
        color: #7e7e7e;
        margin-bottom: 15px;
    }
    
    & .articl__top {
        padding: 0 25px;
        padding-bottom: 25px;
    }
    
    & .articl__bottuom {
        background: url(../images/bg-started1.gif) repeat-x 0 0;
        padding: 25px;
        
    }
    
}

.articl__footer {
    background: url(../images/bg-started1.gif) repeat-x 0 0;
    padding: 40px 25px;
    
    & h2 {
        padding-left: 14px;
    }
    
    & p {
        background: url(../images/check.png) no-repeat 0 25%;
        padding: 0 40px 40px 50px;
        font-size: $size10px +2;
    }
}