//COLORS
$size10px: 10px;
$blue: #93daff;
$blues: #0f4db6;
$grey: #4f4f4f;

@font-face {
    font-family: Trebuchet; 
    src: url(fonts/trebuchet_ms/TrebuchetMSRegular.ttf);
   }
   
@font-face {
    font-family: nevis; 
    src: url(fonts/Nevis-Bold/nevis.ttf);
   }  