    <div class="footer__top clearfix">
        <div class="footer__tops right wow bounceInLeft">
            <h3>Browse Site</h3>
            <ul>
                <li><a href="#">About our company</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Portfolio</a></li>
                <li><a href="#">Our Prices</a></li>
                <li><a href="#">Online quote form</a></li>
                <li><a href="#">Client Testimonials</a></li>                                
            </ul>
        </div>
        <div class="footer__tops center wow bounceInUp " data-wow-duration="0.5s" data-wow-delay="0.5s">
            <h3>Our Testimonials</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Etiam tristique tristique lacus in varius.
                Donec nec vestibulum ligula. Aenean turpis diam,
                feugiat a luctus in, rhoncus eget risus.
                Maecenas consequat porttitor dui, vitae 
                consequat massa imperdiet ut. elit ut tempus lobortis,
                eros leo molestie velit.<br/>
                <span>Rafi, GraphicsFuel.com</span>
            </p>                            
        </div>
        <div class="footer__tops left wow bounceInRight" data-wow-duration="0.5s" data-wow-delay="1s">
            <h3>From Our Blog</h3>
            <p>
                uly 6, 2010<br/>
                <span> Lorem ipsum dolor sit amet, consectetur </span>
                adipiscing elit. Etiam tristique tristique
                lacus in varius. Donec nec vestibulum ligula.
                Aenean turpis diam...
            </p>  
            <p>
                uly 6, 2010<br/>
                <span> Lorem ipsum dolor sit amet, consectetur </span>
                adipiscing elit. Etiam tristique tristique
                lacus in varius. Donec nec vestibulum ligula.
                Aenean turpis diam...
            </p> 
        </div>
    </div>
    <div class="footer__bottom clearfix">
        <p class="footer__bottoms copyright">Copyright © 2010 Business. All rights reserved.
            Designed by GraphicFuel.com
        </p>
        <ul class="footer__bottoms socials">
            <li><a href="#">
                    <img src="images/Layer 28.png" alt=""/>
                </a></li>
            <li><a href="#">
                    <img src="images/Layer 29.png" alt=""/>
                </a></li>
            <li><a href="#">
                    <img src="images/Layer 30.png" alt=""/>
                </a></li>
        </ul>                        
        <div class="footer__bottoms logo-min"><a href="index.html">
            <img src="images/logo-footer.png" alt=""/>                            
        </a></div>
    </div>